//
//  teapot.xcconfig
//  This file is part of the "Dream Framework" project, and is released under the MIT license.
//
//  Created by Samuel Williams on 29/08/10.
//  Copyright (c) 2010 Samuel Williams. All rights reserved.
//

// Select the correct platform based on the SDK:
TEAPOT_PLATFORM[sdk=macosx*]=darwin-osx-debug
TEAPOT_PLATFORM[sdk=iphoneos*]=darwin-ios-debug
TEAPOT_PLATFORM[sdk=iphonesimulator*]=darwin-ios-simulator-debug

// Compute the prefix path:
TEAPOT_PLATFORM_PATH=$(TEAPOT_ROOT)/platforms/$(TEAPOT_CONFIGURATION)/$(TEAPOT_PLATFORM)/

// Select the valid architectures based on the SDK:
VALID_ARCHS[sdk=macosx*]=i386 x86_64
VALID_ARCHS[sdk=iphoneos*]=armv7
VALID_ARCHS[sdk=iphonesimulator*]=i386
ARCHS=$(VALID_ARCHS)

// Search paths:
HEADER_SEARCH_PATHS="$(TEAPOT_PLATFORM_PATH)/include"
LIBRARY_SEARCH_PATHS="$(TEAPOT_PLATFORM_PATH)/lib"

// Dwarf format doesn't seem to work well with static archives
DEBUG_INFORMATION_FORMAT=dwarf-with-dsym

// Use C++0x11 features:
GCC_VERSION=com.apple.compilers.llvm.clang.1_0
CLANG_CXX_LANGUAGE_STANDARD=c++11
CLANG_CXX_LIBRARY=libc++

// Avoid problems with C++ visibility:
GCC_INLINES_ARE_PRIVATE_EXTERN=NO
GCC_SYMBOLS_PRIVATE_EXTERN=NO

// Faster execution for floating-point heavy code when compiling for ARM:
GCC_THUMB_SUPPORT=NO

// Code signing on iOS only works with PIC.
GCC_DYNAMIC_NO_PIC[sdk=iphoneos*]=NO
GCC_DYNAMIC_NO_PIC[sdk=macosx]=YES

// General optimisations, should give you about +10FPS depending on workload:
GCC_OPTIMIZATION_LEVEL[variant=release]=3
GCC_UNROLL_LOOPS[variant=release]=YES
LLVM_LTO[variant=release]=YES
