
// The root directory of Dream Project:
TEAPOT_ROOT=$(SRCROOT)/teapot
TEAPOT_CONFIGURATION=transform-flow-browser-ios

OTHER_LDFLAGS=-lEuclid -lDream -lz -lpng -ljpeg -lDreamImaging -lopencv_calib3d -lopencv_core -lopencv_features2d -lopencv_flann -lopencv_imgproc -lopencv_ml -lopencv_photo -lopencv_video -lTransformFlow

// Include the basic Dream-Project configuration:
#include "teapot.xcconfig"
